{% extends 'base.html.twig' %}
{% block body %}
<h1 class="center-text">Witaj na Tablicy Ogłoszeń</h1>
<img id="TableImg" class="img-circle" src = "{{ asset('images/tablica.jpg') }}" alt = "tablica">
{% endblock %}