body {
    min-height:100%;
    margin: 0;
    min-width: 100%;
}
#container{
    width:100%;
    min-width: 100%;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
}
.flash {
    display: none;
}
#nav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;

}
#main{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
   
}
#welcomeName {
    line-height: 40px;
    text-align: center
}
#rightNav {
    margin-top: 5px;
}
#changeCredentialsLink {
    margin: 0 auto;
    text-align: center;
}
.center-text{
    text-align: center;
}
#logIn{
    width:1000px;
    height:50px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: turquoise;
}
#mainShopContent{
    width:1000px;
    height: 100%;
    min-height: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0F8FF;
}
.singleProduct {
    float:left;
    width: 350px;
    height: 500px;
    border: 3px solid #57A39F;
    border-radius: 10px;
    margin: 10px;
}
.imgWrapper {
    margin-bottom: 15px;
    widows:330px;
    height: 330px;
}
.singleProduct p{
    font-style: 15px;
    font-weight: bold;
}
.singleProduct img{
    margin: 22px;
    width: 300px;
    height: 300px;
}
.singleProduct img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
#welcomingHeader {
    margin-bottom: 50px;
}
h2 {
    margin-left: 15px;
}
.product {
    margin: 0 auto;
    width:500px;
    border-radius:20px;
}
#registerButton {
    margin-top: 15px;
 }
.productOptions {
    position: absolute;
    right: 200px;
    top: 50%;
}
.productOptions ul {
    list-style: none;
    display: block;
}
.productOptions ul li {
    margin: 10px 10px;
}
.basketOptions {
    position: absolute;
    right: 200px;
    top: 50%;
}
.basketOptions ul {
    list-style: none;
    display: block;
}
.basketOptions ul li {
    margin: 10px 10px;
}
#registerLinkButton {
    text-decoration: none;
}
/*#RegisterButton{*/
    /*width: 500px;*/
    /*text-align: center;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
/*}*/
#registeredUser p{
    text-align: center;
}
#carouselOfProducts{
    width:500px;
    height: 500px;
   margin-left: auto;
   margin-right: auto;
    
}
div .item {
    width:500px;
    height: 500px;
}
#shopTitle{
    position: absolute;
    top: 0;
    left: 40%;
    right: 40%;
    widows: 20%;
    height: 50px;
    border: 3px solid #73AD21;
    background-color: #F0F8FF;
}
#shopTitle p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;    
}
 #WelcomeParagraph {
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}

.blueButton{
    margin-top: 5px;
}
.userTable{
    width:100%;
}
.change{
    float: right;
    min-width: 180px;
}
.header{
    text-align: center;
    font-size: 20px;
}
.boldOne{
    font-weight: bold;
    color: #008B8B;
}
li {
    list-style: none;
}
#TableImg {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
#TableImg:hover {
    transform: scale(1.05);
    transition: 1s;
}
tr td img{
    width: 100px;
    height: 100px;
}