{% extends '@App/base.html.twig' %}

{% block body %}
<div class="row">
    <div class=" col-md-offset-4 col-md-4 ">
    <h1>Tworzenie kategorii</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-bg btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-bg btn-info" href="{{ path('admin_page') }}">Powrót do panelu Admina</a>
        </li>
    </ul>
    </div>
</div>
{% endblock %}
